Xcursor.theme: xcursor-breeze

Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb


!!! xterm
XTerm*termName: xterm-256color
XTerm*locale: true
XTerm*utf8: true
XTerm*scaleHeight: 1
XTerm*allowBoldFonts: true
XTerm*boldColors: false
XTerm*underLine: true
!XTerm*altSendsEscape: true
XTerm*metaSendsEscape: true
XTerm*modifyOtherKeys: 1
XTerm*fullscreen: 3
XTerm*pointerFont: xcursor-breeze
XTerm*pointerShape: left_ptr
XTerm*renderFont: true
XTerm*forceXftHeight: false
XTerm*faceName: Hack Nerd Font Mono:antialias=true
XTerm*faceSize: 11
XTerm*faceSize1: 9
XTerm*faceSize2: 11
XTerm*faceSize3: 13
XTerm*faceSize4: 15
XTerm*faceSize5: 17
XTerm*faceSize6: 19
XTerm*faceSize7: 21
XTerm*foreground: rgb:83/94/96
XTerm*background: rgb:00/2b/36
XTerm*color0: rgb:07/36/42
XTerm*color1: rgb:dc/32/2f
XTerm*color2: rgb:85/99/00
XTerm*color3: rgb:b5/89/00
XTerm*color4: rgb:26/8b/d2
XTerm*color5: rgb:d3/36/82
XTerm*color6: rgb:2a/a1/98
XTerm*color7: rgb:ee/e8/d5
XTerm*color8: rgb:00/2b/36
XTerm*color9: rgb:cb/4b/16
XTerm*color10: rgb:58/6e/75
XTerm*color11: rgb:65/7b/83
XTerm*color12: rgb:83/94/96
XTerm*color13: rgb:6c/71/c4
XTerm*color14: rgb:93/a1/a1
XTerm*color15: rgb:fd/f6/e3
XTerm*omitTranslation: fullscreen,paging,reset,select,shift-fonts
XTerm*VT100*translations: #override \n\
	Meta <Key>): set-vt-font(d) \n\
	Meta <Key>_: smaller-vt-font() \n\
	Meta <Key>+: larger-vt-font()


!!! zutty
Zutty.altScroll: false
Zutty.autoCopy: false
Zutty.saveLines: 0
Zutty.altSendsEscape: true
Zutty.modifyOtherKeys: 1
Zutty.boldColors: false
Zutty.font: Hack Nerd Font Mono
Zutty.fontsize: 15
Zutty.fg: 839496
Zutty.bg: 002b36
Zutty.color0: 073642
Zutty.color1: dc322f
Zutty.color2: 859900
Zutty.color3: b58900
Zutty.color4: 268bd2
Zutty.color5: d33682
Zutty.color6: 2aa198
Zutty.color7: eee8d5
Zutty.color8: 002b36
Zutty.color9: cb4b16
Zutty.color10: 586e75
Zutty.color11: 657b83
Zutty.color12: 839496
Zutty.color13: 6c71c4
Zutty.color14: 93a1a1
Zutty.color15: fdf6e3


!!! sxiv
Sxiv.background: #002B36
Sxiv.foreground: #657b83
Sxiv.font: Hack Nerd Font-10


!!! i3lock-xrdb
i3lock.Lockscreen.background.color: #002b36
i3lock.Lockscreen.ring.normal.color: #657b83
i3lock.Lockscreen.ring.fail.color: #dc322f
i3lock.Lockscreen.interior*color: #00000000
i3lock.Lockscreen.border*color: #00000000
i3lock.Lockscreen.font*color: #00000000
i3lock.Lockscreen.keypress.color: #93a1a1
i3lock.Lockscreen.font: -*-hack-medium-r-*-*-25-

