!!! xterm
XTerm*termName: xterm-256color
XTerm*locale: true
XTerm*utf8: true
XTerm*scaleHeight: 1.01
XTerm*allowBoldFonts: true
XTerm*boldColors: false
XTerm*underLine: true
!XTerm*altSendsEscape: true
XTerm*metaSendsEscape: true
!XTerm*modifyOtherKeys:
XTerm*fullscreen: 3
XTerm*pointerShape: left_ptr
XTerm*renderFont: true
XTerm*forceXftHeight: false
XTerm*faceName: Hack Nerd Font Mono:antialias=true
XTerm*faceSize: 11
XTerm*faceSize1: 9
XTerm*faceSize2: 11
XTerm*faceSize3: 13
XTerm*faceSize4: 15
XTerm*faceSize5: 17
XTerm*faceSize6: 19
XTerm*faceSize7: 21
XTerm*foreground: rgb:83/94/96
XTerm*background: rgb:00/2b/36
XTerm*color0: rgb:07/36/42
XTerm*color1: rgb:dc/32/2f
XTerm*color2: rgb:85/99/00
XTerm*color3: rgb:b5/89/00
XTerm*color4: rgb:26/8b/d2
XTerm*color5: rgb:d3/36/82
XTerm*color6: rgb:2a/a1/98
XTerm*color7: rgb:ee/e8/d5
XTerm*color8: rgb:00/2b/36
XTerm*color9: rgb:cb/4b/16
XTerm*color10: rgb:58/6e/75
XTerm*color11: rgb:65/7b/83
XTerm*color12: rgb:83/94/96
XTerm*color13: rgb:6c/71/c4
XTerm*color14: rgb:93/a1/a1
XTerm*color15: rgb:fd/f6/e3
XTerm*omitTranslation: fullscreen,paging,reset,select,shift-fonts
XTerm*VT100*translations: #override \n\
	Meta <Key>): set-vt-font(d)\n\
	Meta <Key>_: smaller-vt-font() \n\
	Meta <Key>+: larger-vt-font()


!!! sxiv
Sxiv.background: #002B36
Sxiv.foreground: #657b83
Sxiv.font: Hack Nerd Font-10

